@tailwind base;
@tailwind components;
@tailwind utilities;

.w-7__5 {
  width: 30px;
}

.w-112 {
  width: 448px;
}

.h-7__5 {
  height: 30px;
}

.h-112 {
  height: 448px;
}

.banner_fadeBottom {
  height: 8.3rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/f50f46d7-13f0-4412-a37c-34808af2dd0c/VN-en-20210719-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 10;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* Loading Screen */

.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

/* @media (max-width: 739px) {
  .banner_fadeBottom {
    height: 4rem;
  }
} */

@layer components {
  .banner-button {
    @apply cursor-pointer bg-black bg-opacity-60 text-white outline-none border-none font-bold rounded-sm px-8 mr-4 py-2 hover:bg-[#e6e6e6] hover:text-black;
  }
}
